/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  /* overflow: hidden;  */
}

body {
  font-family: var(--font-geist-sans), var(--font-geist-mono);
  background-color: #f5f5f5;
  padding-top: 55px;
}

/* Ensure navbar doesn't overflow */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: white;
}
