.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease;
  overflow: hidden; /* Prevent navbar overflow */
}

.navLinks,
.profileSection {
  display: flex;
  align-items: center;
}

.navLinks a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks a:hover,
.activeLink {
  color: #ffcc00;
}

.profileSection {
  display: flex;
  align-items: center;
}

.profileName {
  margin-right: 10px;
}

.logoutButton {
  padding: 5px 10px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #e63946;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.responsiveMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #333;
  padding: 10px;
  z-index: 1001;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .profileSection {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .responsiveMenu {
    display: flex;
  }
}
