.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(135deg, rgba(21, 21, 21, 0.5), rgba(255, 255, 255, 0.1), rgba(248, 47, 32, 0.3), rgba(51, 51, 51, 0.6)), rgba(51, 51, 51, 0.7);
  /* Updated glossy gradient */
  backdrop-filter: blur(10px);
  /* Glassy effect */
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(255, 255, 255, 0.1) inset;
  /* Outer and inner shadow */
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

.progressBarContainer {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

.progressBar {
  height: 100%;
  background-color:  #22ee13;
  /* background-color: #ee1313; */
  transition: width 0.3s ease;
}

.navLinks,
.profileSection {
  display: flex;
  align-items: center;
}

.navLinks a {
  margin-right: 20px;
  /* color: white; */
  text-decoration: none;
  transition: color 0.3s ease;
}

.nlink {
  color: white;
}

.navLinks a:hover,
.activeLink {
  color: #ee1313;
}

.profileSection {
  display: flex;
  align-items: center;
}

.profileName {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.logoutButton {
  padding: 5px 10px;
  background-color: #ff4c4c;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Adding shadow to the button */
}

.logoutButton:hover {
  background-color: #e63946;
}

.menuButton {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.responsiveMenu {
  display: none;
  font-size: 18px;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(248, 47, 32, 0.5), rgba(211, 211, 211, 0.4)), rgba(0, 0, 0, 0.9);
  /* Updated glossy gradient */
  backdrop-filter: blur(10px);
  /* Glassy effect */
  padding: 10px;
  z-index: 1001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(255, 255, 255, 0.1) inset;
  /* Outer and inner shadow */
}

.responsiveDash {
  display: flex;
  font-size: 18px;
  flex-direction: column;
  position: absolute;
  top: 50px;
  width: 200px;
  border-radius: 8px;
  left: 150px;
  background: linear-gradient(135deg, rgba(248, 47, 32, 0.5), rgba(211, 211, 211, 0.4)), rgba(0, 0, 0, 0.9);
  /* Updated glossy gradient */
  backdrop-filter: blur(10px);
  /* Glassy effect */
  padding: 10px;
  z-index: 1001;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), 0 2px 4px rgba(255, 255, 255, 0.1) inset;
  /* Outer and inner shadow */
}

.responsiveMenu a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.responsiveDash a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.responsiveMenu a:hover {
  background-color: #333;
}

.responsiveDash a:hover {
  background-color: #333;
}

.logo {
  display: block;
  background-color: transparent;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .profileSection {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .responsiveMenu {
    display: flex;
    width: 200px;
  }

  .responsiveDash {

    top: 130px;
    left: 250px;

  }
}