/* Styles for the filter section */

.page {
  margin: 20px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterContainer select,
.filterContainer input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;

}
.activeCell {
  color: white;
  background-color: #333333 !important;
  z-index: 2;
  /* transform: scale(1.1); */
}

/* Styles for the search bar */
.searchBar {
  flex-grow: 1;
}

.tableContainer {
  overflow-x: auto;
}

/*.................................................*/
.page {
  margin: 20px;
}

.filterContainer {
  margin-bottom: 20px;
}

.paginationContainer {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.pageButton,
.activePageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pageButton {
  background-color: #f0f0f0;
}

.activePageButton {
  background-color: #ff4c4c;
  color: white;
}

.pageButton:disabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #ff4c4c;
  color: white;

}

.icon {
  width: 20px;
  height: 20px;
  color: #ff4c4c;
}

.icon:hover {
  color: white;

}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}