.page{
    margin: 20px;
}
.table th{
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    width: 100px;
    /* Adjust this to set the width of each column */
}
.table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    width: 100px;
    /* Adjust this to set the width of each column */
}

.input-field {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.input-field:focus {
    outline: none;
}

.read-only {
    pointer-events: none;
    /* Prevent user from interacting with read-only fields */
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    /* Space between buttons and table */
}

.button {
    padding: 10px 20px;
    margin-left: 10px;
    /* Space between buttons */
    border: none;
    background-color: #f82d1fca;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: #f82d1f91;
}