.dash {
  margin: 10px;
  scroll-behavior: smooth;
}

.page {
  margin: 20px;
}

.filterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterContainer select,
.filterContainer input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  font-size: 12px;
  cursor: pointer;
}

.button {
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
}

.print {
  width: 90px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  background-color: #0070f3;
  color: white;
}

.hoverColumn {
  cursor: pointer;
  position: relative;
}

.hoverColumn:hover {
  color: white;
  background-color: #333333;
  cursor: pointer;
  z-index: 2;
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.activeCell {
  /* color: white; */
  /* background-color: #333333 !important; */
  /* z-index: 2; */
  /* transform: scale(1.1); */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  pointer-events: none;
}

.cardContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 450px;
  padding: 20px;
  position: relative;
}

.closeButton {
  background-color: #e90c0c;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.cardContent {
  text-align: center;
  width: 100%;
}

.cardHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profileImage {
  border-radius: 10px;
  margin-right: 20px;
}

.cardHeaderText {
  text-align: left;
}

.cardHeaderText h2 {
  margin: 0;
  font-size: 1.8em;
}

.cardHeaderText span {
  display: block;
  color: #666;
  font-size: 1.2em;
}

.cardLocation {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 1em;
}

.cardDetails {
  text-align: left;
  width: 100%;
}

.cardDetail {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.cardDetail .label {
  font-weight: bold;
  color: #333;
}

.cardDetail .value {
  text-align: right;
  color: #555;
}

.showMoreButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.showMoreButton:hover {
  background-color: #0056b3;
}
