.dash {
    margin: 10px;
    scroll-behavior: smooth;
}

/* Styles for the filter section */
.page {
    margin: 20px;
}

.filterContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filterContainer select,
.filterContainer input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 12px;
    cursor: pointer;
}

.button {
    width: 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
.print {
    width: 90px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    background-color: #0070f3;
    color: white;

}
/* Dashboard.module.css */
/* .blurredBackground {
    filter: blur(5px);
  } */
  
/* ProfileCard.module.css */
.card {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 250px;
    z-index: 1000;
    top: var(--top);
    left: var(--left);
  }
  
  .closeButton {
    background-color: #e90c0c;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  .card p {
    margin: 8px 0;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  